<section class="blog">
  <h2 class="section-title blog__title container">Blog</h2>
  <ul class="blog__gallery">
    <li>
      <img src="./images/blog/blog-mobile-1@2x.jpg" />
    </li>
    <li>
      <img src="./images/blog/blog-mobile-2@2x.jpg" />
    </li>
    <li>
      <img src="./images/blog/blog-mobile-3@2x.jpg" />
    </li>
  </ul>
  <div class="blog_text-and-button container">
    <p class="blog__text">Follow to our newsletter</p>
    <button data-modal-open type="button" class="main-button">Subscribe</button>
  </div>
</section>
