
<footer class="footer ">
  <section class="container footer--container">
    <h2 class="section-title"></h2>
    <div class="footer__logo">
          <a class="logo" href=""></a>
        </div>
    <div class="footer__nav">
      <h3 class="footer__title">Navigation</h3>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link current" href="">Anemone</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Store</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="">Delivery</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__opening">
          <h3 class="footer__title">Opening times</h3>
          <ul class="footer__opening-list">
            <li class="footer__opening-item">
              Every day <br />
              9:00 - 22:00
            </li>
          </ul>
        </div>
      <div class="footer__contact">
          <h3 class="footer__title">Contacts</h3>
          <address>
            <ul class="footer__contact-list">
              <li class="footer__contact-item">
                <a href="tel:+380631234567" class="contact-footer tel"
                  >+38 063 123 45 67</a
                >
              </li>
              <li class="footer__contact-item">
                <a
                  href="mailto:anemonestudio@example.comm"
                  class="contact-footer"
                  >anemonestudio<span> @example.com</span></a
                >
              </li>
              <li class="footer__contact-item">
                <a
                  href=""
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer__contact-address"
                >
                  Reitarska Street, 11 Kyiv, Ukraine</a
                >
              </li>
            </ul>
          </address>
        </div>
     <div class="footer__icon">
          <ul class="social__list">
            <li class="social__ item">
              <a
                class="social__link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="facebook"
              >
                <svg class="social__icon" width="28" height="28">
                  <use href="./images/icon/icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="instagram"
              >
                <svg class="social__icon" width="28" height="28">
                  <use href="./images/icon/icon.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
  </section>
</footer>
