<div class="mobile-menu is-menu-hidden" data-mobile-menu>
    <div class="mobile-menu__close">
        <svg class="mobile-menu__close-icon" width="24" height="24" data-mobile-menu-close>
          <use href="./images/icon/icon.svg#icon-close"></use>
        </svg>
    </div>
    <div class="mobile-nav">
      <ul class="mobile-nav__list">
        <li class="mobile-nav__item">
          <a class="nav-link nav-link--color" href="#anemone"  data-mobile-menu-close>Anemone</a>
        </li>
        <li class="mobile-nav__item">
          <a class="nav-link nav-link--color" href="about-us"  data-mobile-menu-close>About us</a>
        </li>
        <li class="mobile-nav__item">
          <a class="nav-link nav-link--color" href="#store"  data-mobile-menu-close>Store</a>
        </li>
        <li class="mobile-nav__item">
          <a class="nav_-ink nav-link--color" href="#delivery"  data-mobile-menu-close>Delivery</a>
        </li>
        <li class="mobile-nav__item">
          <a class="nav-link nav-link--color" href="#blog"  data-mobile-menu-close>Blog</a>
        </li>
      </ul>
    </div>
     
      
</div>