<!-- <div data-modal class="backdrop is-hidden">
    <div class="modal">
      <p class="modal__title">Contact us</p>

      <form class="modal-form" name="modal">
        <div class="modal-group">
          <label class="modal-group__field" for="user_name"
            ><span class="modal-group__text">Ім'я</span>

            <div class="modal-group__icons">
              <input
                class="modal-group__input"
                type="text"
                name="user_name"
                required
                minlength="2"
                maxlength="25"
                autofocus
              />
            </div>
          </label>
        </div>
        <div class="modal-group">
          <label class="modal-group__field" for="user_email">
            <span class="modal-group__text">Пошта</span>

            <div class="modal-group__icons">
              <input
                class="modal-group__input"
                type="email"
                name="user_email"
                required
                minlength="3"
                maxlength="25"
              />
            </div>
          </label>
        </div>

     
      </form>

      <button data-modal-open class="modal-btn-send" type="submit">
        Send
      </button>
      <button data-modal-close class="modal-btn-close">
        <div class="modal-img">
          <!-- <svg class="modal-img">
            <use href="./images/icons.svg#xmark"></use>
          </svg> -->
        </div>
      </button>
    </div>
      </div> -->