.main-button {
  color: $secondary-color;
  
  padding: 10px 35px;
  margin: 0 auto;
   
  font-size: 20px;
  line-height: 24px;
  background-color: $brand-color;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 250ms;
  transition: background-color $animation-duration $transition-timing-function;
  display: block;
}

.main-button:hover {
  background-color: $hover-color;
}

.main-button:focus {
  background-color: $focus-color;
}

@media screen and (min-width: $mobile) {
  .main-button {
    font-size: 28px;
    padding: 20px 44px;
  }
}



.store-button {
  color: $secondary-color;
  padding: 14px 28px;
  font-size: 20px;
  line-height: calc(24px / 20px);
  background-color: $brand-color;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 250ms;
  transition: background-color $animation-duration $transition-timing-function;
  margin: 0 auto;
  display: block;
}

.store-button:hover {
  background-color: $hover-color;
}

.store-button:focus {
  background-color: $focus-color;
}

@media screen and (min-width: $tablet) {
  .store-button {
    font-size: 28px;
    line-height: calc(24px / 28px);
    padding: 16px 32px;
  }
  
}

