.modal-button {
  display: block;
  width: 100%;
  color: $secondary-color;
  padding: 10px;
  font-size: 14px;
  background-color: $brand-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color $animation-duration $transition-timing-function;
}

.modal-button:hover {
  background-color: $hover-color;
}

.modal-button:focus {
  background-color: $focus-color;
}

@media screen and (min-width: $tablet) {
  .modal-button {
    padding: 14px;
    font-size: 18px;
  }
}
