.footer--container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  align-items: normal;

  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer--container {
 justify-content: center;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #ffffff;
  margin-bottom: 18px;
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    width: 73px;
    /* width: 20%; */
    margin-right: 210px;
  }
}
.footer__nav {
  /* width: 50%; */

  margin-right: auto;
  margin-bottom: 32px;
  margin-right: auto;
}
  
  @media screen and (min-width: 320px) {
  .footer__nav {
   
    margin-right: 44px;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav {
    /* width: 25%; */
    margin-right: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__nav {
    
    /* width: 20%; */
    margin-right: 96px;
  }
}
.nav__item:not(:last-child) {
  margin-bottom: 12px;
}
.nav__link {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
}
.footer__opening {
  /* width: 50%; */
  /* margin-right: 44px; */
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
.footer__opening {
    /* width: 25%; */
    margin-right: 44px;
  }
}
@media screen and (min-width: 1280px) {
.footer__opening {
    /* width: 20%; */
    margin-right: 96px;
  }
}
.footer__open-item {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
}

@media screen and (min-width: 290px) {
.footer__contact {
    /* width: 25%; */
    max-width: 128px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 768px) {
.footer__contact {
    /* width: 25%; */
    margin-right: 64px;
  }
}
@media screen and (min-width: 1280px) {
.footer__contact {
    /* width: 20%; */
    margin-right: 208px;
  }
}
.footer__contact,
.contact-footer,
.footer__contact-address {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
}
.footer__contact-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__icon {
  margin-right: auto;
}

.social__list {
  display: flex;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .social__list {
    display: block;
  }
}
.social__item:not(:last-child) {
  margin-right: 14px;
}
.social__icon {
  fill: #ffffff;
}
