.footer {
  background-color: $main-color;
}
.footer--container {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;

  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: $tablet) {
  .footer--container {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 54px;
  }
}
@media screen and (min-width: $desktop) {
  .footer--container {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: $secondary-color;
  margin-bottom: 18px;
}
@media screen and (min-width: $tablet) {
  .footer__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1279.8px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: $desktop) {
  .footer__logo {
    width: 73px;
    margin-right: 210px;
  }
}
.footer-nav {
  margin-right: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 350px) {
  .footer-nav {
    margin-right: 44px;
  }
}

@media screen and (min-width: $tablet) {
  .footer-nav {
    width: 144px;
    margin-bottom: 0;
    margin-right: 44px;
  }
}
@media screen and (min-width: $desktop) {
  .footer-nav {
    width: 116px;
    margin-right: 96px;
  }
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-nav__link {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $secondary-color;
}
@media screen and (min-width: $tablet) {
  .footer-nav__link {
    font-size: 16px;
  }
}
.footer__opening {
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: $tablet) {
  .footer__opening {
    width: 143px;
    margin-right: 44px;
  }
}
@media screen and (min-width: $desktop) {
  .footer__opening {
    margin-right: 96px;
  }
}
.footer__opening-item {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $secondary-color;
}
@media screen and (min-width: $tablet) {
  .footer__opening-item {
    font-size: 16px;
  }
}
@media screen and (min-width: 290px) {
  .footer__contact {
    width: 128px;
    margin-right: 32px;
  }
}
@media screen and (min-width: $tablet) {
  .footer__contact {
    width: 236px;
    margin-right: 64px;
  }
}
@media screen and (min-width: $desktop) {
  .footer__contact {
    margin-right: 208px;
  }
}
.footer__contact-list {
  font-style: normal;
}
.footer__contact,
.contact-footer,
.footer__contact-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $secondary-color;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
.footer__contact-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__icon {
  margin-right: auto;
}

.social__list {
  display: flex;
}
@media screen and (min-width: $tablet) {
  .social__list {
    display: block;
    margin-right: 16px;
  }
}
.social__item :not(:last-child) {
  margin-right: 14px;
}
@media screen and (min-width: $tablet) {
  .social__item :not(:last-child) {
    margin-bottom: 18px;
  }
  .social__item {
    margin-right: 0;
  }
}
.social__icon {
  fill: $secondary-color;
}
