.hero-fon {
 max-width: 145px;
 height: 274px;
 background-repeat: no-repeat;
 background-position: center;
 background-color: inherit;
//  background-size: cover;
 margin-left: auto;
 margin-right: auto;
 background-image: url(../images/hero/home_imgmob@1x.jpg);

 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
 background-image: url(../images/hero/home_imgmob@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
 background-image: url(../images/hero/home_imgtab@1x.jpg);
 max-width: 390px;
 height: 636px;

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
 background-image: url(../images/hero/home_imgtab@2x.jpg);
 }
  }

 @media screen and (min-width: $desktop) {
   background-image: url(../images/hero/home_imgdesk@1x.jpg);
 @media screen and (min-width: $desktop) {
 max-width: 390px;
  height: 636px; 
  }

   @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
    background-image: url(../images/hero/home_imgdesk@2x.jpg); 
 }
  }
} 

.hero-btn {
 background-color: inherit;
 border: none;
}

.hero-title {
 display: flex;
 justify-content: center;
 font-weight: 400;
 font-size: 14px;
 font-size: 52px;
 line-height: 1.2;

 @media screen and (min-width: $tablet) {
 font-size: 120px;
 }

 @media screen and (min-width: $desktop) {
 font-size: 160px;
 }
}

.hero-text {
//  display: flex;
//  flex-wrap: wrap;
 width: 46px;
 height: 34px;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.2;

 @media screen and (min-width: $tablet) {
 width: 76px;
 height: 58px;
 font-size: 24px;
 }

 @media screen and (min-width: $desktop) {
 width: 101px;
 height: 78px;
 font-size: 32px;

 }
}

// .hero-block {
//  display: flex;
// }

