.store {
  background-color: #fff;
  margin-bottom: 60px;
}
.store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-between;
  gap: 16px;
  margin-bottom: 60px;
}
.store-list__item {
  background-color: #fff;
  width: calc((100% - 16px * 1) / 2);
  margin: 0px;
 
}
.store-list__item:nth-child(2n) {
  margin-right: 0;
}
.list {
  text-decoration: none;
}
.store-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.store-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20px / 16px);
  color: #000000;
  text-align: left;

  margin-top: 12px;
  margin-bottom: 6px;
}
.store-list__text {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15px / 12px);
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
